@font-face {
  font-family: "Press Start 2P";
  src: url("../src/assets/font/PressStart2P-Regular.ttf") format("truetype");
  font-display: swap;
}


@import "tailwindcss";

@theme {
  --font-press: "Press Start 2P", system-ui;
}

.instrument-sans-main {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

